*.log
*.json
.quokka
/lib/snippets/*
/lib/snippets/
.vscode
/docs
jsdoc_help.md
TicTacToe-Class-Model.drawio
markdownlint.yml
.github/.pre-commit-config.yaml
mdlint.md
_documentation/cohort/1. CPL_JS Essentials.pptx.pdf
_documentation/cohort/2. Some more JS Essentials_Love Maths Walkthrough.pptx.pdf
_documentation/cohort/JSFunctions.pdf
_documentation/cohort/PP2 MVP.pdf
assets/scripts/main.js
.eslintrc.yml
_documentation/diagrams/App - Listener - Game Flow.drawio
_documentation/diagrams/App - Listener - Game Flow.png
_documentation/diagrams/App - Listener - Game Flow.svg
/_documentation/code/0.4.0/MoveListener/0.4.0
_documentation/GitHub-issues.txt
lib/classes.hbs
lib/app.md
lib/game.md
lib/test.jsbook
lib/url.md
/.github/workflows/linter.yml
/.github/linters
/wallaby.conf.js
/markdownlint-cli2.yml
_documentation/diagrams/OnClick Move Piece.drawio
_documentation/diagrams/OnClick Move Piece.svg
.gitignore
_documentation/code/New folder/2023-03-30 18_29_28-● OnClick Move Piece.drawio - diagrams - CI-PP2 - Visual Studio Code.png
_documentation/code/New folder/2023-03-31 10_24_11-_ Code Institute.png
_documentation/code/New folder/2023-03-31 10_24_26-_ Code Institute.png
_documentation/code/New folder/2023-03-31 10_24_48-_ Code Institute.png
_documentation/code/New folder/checkMove.png
_documentation/code/New folder/makeMove - not boolean returned.png
_documentation/code/New folder/onClick - debugging efforts.png
_documentation/code/New folder/onClick - outcome undefined.png
lib/__GameError.js
lib/__GamePlayers.js
_documentation/architecture/startlistener.md
/lib/__GameConfig.js
/lib/init.js